
<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <div
        class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <div class="h-[500px] w-full">
             <a href="https://www.google.com/maps/search/Villa+flor+Sur,+1+C.+al+Este+Casa+N%C2%B0:324/@12.1195877,-86.2241883,18z?entry=ttu"> <img src="https://i.ibb.co/rZtVBXm/coordenadas2.png"></a>
            </div>
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="flex flex-wrap px-3 pt-12 pb-12 md:pb-0 lg:pt-0">
              <div class="mb-12 w-full shrink-0 grow-0 basis-auto px-3 md:w-6/12 md:px-6 lg:w-full xl:w-6/12 xl:px-12">
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div class="inline-block rounded-md bg-primary-100 p-4 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                      </svg>
                    </div>
                  </div>
                  <div class="ml-6 grow">
                    <p class="mb-2 font-bold dark:text-white">
                      Agenda tu cita
                    </p>
                    <p class="text-neutral-500 dark:text-neutral-200">
                      ClinicaWonderpearl@gmail.com
                    </p>
                    <p class="text-neutral-500 dark:text-neutral-200">
                      +505 87206364
                      </p>
                    <p class="text-neutral-500 dark:text-neutral-200">
                    Villa flor Sur, 1 C. al Este Casa N°:324.
                    </p>
                    <div class="mb-6 md:mr-auto">
                      <a href="https://www.google.com/maps/search/Villa+flor+Sur,+1+C.+al+Este+Casa+N%C2%B0:324/@12.1195877,-86.2241883,18z?entry=ttu"><button
                        type="submit"
                        class="inline-block rounded to-black border-neutral-950 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-950 transition duration-150 ease-in-out hover:border-neutral-950 hover:bg-neutral-950 hover:bg-opacity-10 hover:text-neutral-950 focus:border-neutral-950 focus:text-neutral-950 focus:outline-none focus:ring-0 active:border-neutral-950 active:text-neutral-950 dark:hover:bg-neutral-100 dark:hover:bg-opacity-950"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                        Contactarse
                      <hr></button></a>
                    </div>

                    
                  </div>
                </div>
              </div>

    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->