<div class="grid grid-cols-6 gap-4">
    <div class="col-start-1 col-end-7 ...">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="PERSONAL BRANDING" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/65276cadbba50d0010960077" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    </div>
  </div>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-start-1 col-end-7 ...">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Copia - CV DATOS INFOGRÁFICOS" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/655e7366fa02060011973556" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    </div>
  </div>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-start-1 col-end-7 ...">
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="CV DATOS INFOGRÁFICOS" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6529f0c0bba50d0010e0298b" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    </div>
  </div>
  