<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <div
        class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <div class="flex flex-wrap items-center">
          <div class="hidden shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="#" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-4 text-2xl font-bold">
                Tratamientos
              </h2>
             
              <p class="mb-6 text-neutral-500 dark:text-neutral-300">
                
              </p>
              <p class="text-neutral-500 dark:text-neutral-300">
               
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->

  <div class="grid-cols-1 sm:grid md:grid-cols-3 ">
    <div
      class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
      <a href="#!">
        <img
          class="rounded-t-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/043.webp"
          alt="Skyscrapers" />
      </a>
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Extracción Dental
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Una extracción dental es un procedimiento para extraer un diente de la encía. Usualmente lo hace un dentista general, un cirujano bucal o un periodoncista.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-neutral-100 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">
        <a href="https://medlineplus.gov/spanish/ency/article/007630.htm"><button>Saber mas</button></a>
      </div>
    </div>
    <div
      class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
      <a href="#!">
        <img
          class="rounded-t-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/043.webp"
          alt="Los Angeles Skyscrapers" />
      </a>
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Limpieza Dental
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          La limpieza dental, también llamada profilaxis dental, se hace para eliminar la placa y el cálculo (sarro) que se acumula en los dientes durante el paso del tiempo.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-neutral-100 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">
        <a href="https://www.dentalcervantes.com/por-que-es-importante-hacerse-una-limpieza-dental-y-cada-cuanto/"><button>Saber mas</button></a>
      </div>
    </div>
    <div
      class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
      <a href="#!">
        <img
          class="rounded-t-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/043.webp"
          alt="Palm Springs Road" />
      </a>
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Endodoncia
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Se llama endodoncia, de endo y odontos, a un tipo de tratamiento que se realiza en odontología. Consiste en la extirpación de la pulpa dental y el posterior relleno y sellado de la cavidad pulpar con un material inerte.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-neutral-100 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">
        <a href="https://medyclinic.es/que-es-una-endodoncia-tipos-y-procedimiento/#:~:text=La%20endodoncia%20es%20un%20procedimiento,con%20material%20inerte%20y%20biocompatible."><button>Saber mas</button></a>
      </div>
    </div>
  </div>
 
  <div class="grid-cols-1 sm:grid md:grid-cols-3 ">
    <div
      class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
      <a href="#!">
        <img
          class="rounded-t-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/044.webp"
          alt="Skyscrapers" />
      </a>
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Protesis Removibles
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Una prótesis removible es una prótesis que se quita y se pone; sustituye las piezas que hemos perdido en boca de una forma removible, es decir, es un aparato de quita y pon al que se le colocan los dientes que hemos perdido.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-neutral-100 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">
        <a href="https://www.clinicadentalavancedental.com/tipos-protesis-dentales-removibles/#:~:text=Una%20pr%C3%B3tesis%20removible%20es%20una,los%20dientes%20que%20hemos%20perdido."><button>Saber mas</button></a>
      </div>
    </div>
    <div
      class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
      <a href="#!">
        <img
          class="rounded-t-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/043.webp"
          alt="Los Angeles Skyscrapers" />
      </a>
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Calzas Dentales
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          La resina dental, también se conoce como resina dental compuesta o compostite, es un material sintético que se emplea principalmente para restaurar la estructura de los dientes.
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-neutral-100 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">
        <a href="https://www.gildentalclinic.com/calzas-blancas/"><button>Saber mas</button></a>
      </div>
    </div>
    <div
      class="mx-3 mt-6 flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
      <a href="#!">
        <img
          class="rounded-t-lg"
          src="https://tecdn.b-cdn.net/img/new/standard/city/043.webp"
          alt="Palm Springs Road" />
      </a>
      <div class="p-6">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
          Ortodoncia
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          La ortodoncia es la rama de la odontología que se encarga de los problemas de los dientes y la mandíbula. 
        </p>
      </div>
      <div
        class="mt-auto border-t-2 border-neutral-100 px-6 py-3 text-center dark:border-neutral-600 dark:text-neutral-50">
        <a href="https://medlineplus.gov/spanish/orthodontia.html#:~:text=La%20ortodoncia%20es%20la%20rama,Enderezar%20los%20dientes"><button>Saber mas</button></a>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://rise.articulate.com/share/tbU0fAmjoGQi7H0i401nEZOL-D-DJi5D">
      
