<iframe width="1620" height="815" src="https://www.youtube.com/embed/KRdcpd3izD0?si=aAnjh_iBdhe4Wl4V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="1620" height="815" src="https://www.youtube.com/embed/VdBRBacRTpM?si=klGrzCdJMUFI97H1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="1620" height="815" src="https://www.youtube.com/embed/f0jB9mxgIWw?si=I4yYbAozn6CW27Eb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <div class="grid grid-cols-6 gap-4">
      <div class="col-start-1 col-end-7 ...">
          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="PERSONAL BRANDING" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/654c5182833c7c001140deea/interactive-content-info-lanzamiento-startup" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-start-1 col-end-7 ...">
          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="PERSONAL BRANDING" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6568e539bd33a80014621ee8/interactive-content-mapa-mental-cerebro" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-start-1 col-end-7 ...">
          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="PERSONAL BRANDING" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6549aa786bdac100108a7a95/interactive-content-infografia-basica" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-start-1 col-end-7 ...">
          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="PERSONAL BRANDING" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6567f316b4650500145c7261/interactive-content-info-vibrant-pro" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-start-1 col-end-7 ...">
          <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="PERSONAL BRANDING" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/65680b085f85020014a16522/interactive-content-info-digital-basica" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
    </div>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->