<div class="grid grid-cols-6 gap-4">
  <div class="col-start-1 col-end-7 ...">
      <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="PERSONAL BRANDING" frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/656ff44a0ce4f60015228162/interactive-content-antes-y-despues-flip" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
  </div>
</div>

<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <!-- Jumbotron -->
      <div class="container mx-auto text-center lg:text-left xl:px-32">
        <div class=" flex grid items-center lg:grid-cols-2">
          <div class="mb-12 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
              <h2 class="mb-8 text-3xl font-bold">Nuestro compromiso</h2>
              <p class="mb-8 pb-2 text-neutral-500 dark:text-neutral-300 lg:pb-0">
Somos una clínica dental en la que nuestra prioridad es la salud de nuestros pacientes, haciéndole sentir como en su propia casa, brindándole el mejor servicio y con los mejores materiales importados, así garantizamos nuestro trabajo, tranquilidad y su confianza. Nuestra meta, es asegurarnos que cada uno de nuestros pacientes experimente una atmósfera relajada, confortable, única y sea tratado con un toque suave que se merece.
              </p>
  
              <p class="mb-0 text-neutral-500 dark:text-neutral-300">
                Nos especializamos en extracción dental, ortodoncia, endodoncia, blanqueamiento dental, calzas dentales, protesis removibles, con lo ultimo en tecnología y materiales de la más alta calidad.
              </p>
            </div>
          </div>
  
          <div>
            <img src="https://i.ibb.co/f8sHq4y/image.jpg"
              class="w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->


  <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <div class="flex flex-wrap">
        <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
          <div class="flex lg:py-12">
            <img src="https://i.ibb.co/w4PtTxZ/reloj.jpg"
              class="z-[10] w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[50px]" alt="image" />
          </div>
        </div>
  
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
          <div
            class="flex h-full items-center rounded-lg bg-yellow-600 p-6 text-center text-white lg:pl-12 lg:text-left">
            <div class="lg:pl-12">
              <h2 class="mb-8 text-3xl font-bold">Horarios</h2>
              <p class="mb-8 pb-2 lg:pb-0">
                Lunes - Viernes: 9am - 6pm
              </p>
  
              <div class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around xl:justify-start">
              </div>
  
              <p>
                Sábados: 9am a 1pm
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
